#!/bin/sh

prog=/usr/bin/vncpasswd
user_passwd="{{default_passwd}}"

/usr/bin/expect <<EOF
spawn "$prog"
expect "Password:"
send "$user_passwd\r"
expect "Verify:"
send "$user_passwd\r"
expect eof
exit
EOF
